<ul class="list-group w-100" *ngFor="let todo of todos">
  <li class="list-group-item d-flex justify-content-between w-100">
    <span>
      <input
        (change)="changeTodoStatus(todo)"
        type="checkbox"
        [checked]="todo.iscompleted"
      />
    </span>
        <span [ngClass]="{ completedTodo: todo.iscompleted }">
           {{ todo.title | uppercase }}
          </span>
    <span [ngClass]="{ completedTodo: todo.iscompleted }">
            {{ todo.date | date }}
    </span>
    <span>
      trash
    </span>
  </li>
</ul>
